<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1 Data Science Tools and Ecosystem

In this .notebook, data science tools and ecosystems are summarized

**Objectives:**


* List of popular languages
* List of commonly libraries
* List of Data Science tools

Some popular languages are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include

* Pandas
* Numpy
* Matplotlib
* Tensorflow

| Data Science Tools |
| Jupyter |
| Visual Studio Code |
| GitHUB |

# H3 A few examples of arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
num1 = 3
num2 = 4
num3 = 5
result = (3*4)+5
print(result)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200

print("In hours :" ,minutes/60)

In hours : 3.3333333333333335

<h2>Author: CT</h2>